<!DOCTYPE html>
<html>
<head>
    <title>Add Item</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">

<h2>Add Item</h2>

<div class="form-box">
<form method="POST" enctype="multipart/form-data">

<input type="text" name="name" placeholder="Item Name" required>

<select name="category">
{% for cat in categories %}
<option value="{{ cat }}">{{ cat }}</option>
{% endfor %}
</select>

<input type="number" name="price" placeholder="Price" required>

<input type="text" name="tags" placeholder="#book #study" required>

<input type="file" name="image">

<button class="btn">Add</button>

</form>
</div>

<a href="/" class="btn">Back</a>

</div>

</body>
</html>