<!DOCTYPE html>
<html>
<head>
    <title>Item</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">

<div class="detail-box">

<a href="/static/uploads/{{ item.image }}" target="_blank">
<img src="/static/uploads/{{ item.image }}" class="item-img-large">
</a>

<h2>{{ item.name }}</h2>
<p>{{ item.category }}</p>
<p class="price">₹{{ item.price }}</p>

<div class="tag-box">
{% for tag in item.tags.split() %}
<span class="tag">#{{ tag }}</span>
{% endfor %}
</div>

<a href="/edit/{{ item.id }}" class="btn">Edit</a>

</div>

<h3>Recommended Items</h3>

<div class="container">
{% for rec in recommended %}
<a href="/item/{{ rec.id }}" class="card-link">
<div class="card">
<img src="/static/uploads/{{ rec.image }}" class="item-img">
<h4>{{ rec.name }}</h4>
<p class="price">₹{{ rec.price }}</p>
</div>
</a>
{% endfor %}
</div>

<a href="/" class="btn">Back</a>

</div>

</body>
</html>